
body {
    margin: 0;
    background-color: black;
}


.logo {
    text-align: center;
}
.logo img {
    width: 20vw;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}



/* Track Elements */

.track {
    width: 10%;
    position: relative;
    cursor: pointer;
}
.track:hover {
    border: 2px solid black;
}
.track img {
    width: 100%;
}
.track.done img {
    opacity: 50%;
}

@media (max-width: 1000px) {
    .track {
        width: 12.5%;
    }
}
@media (max-width: 700px) {
    .track {
        width: 20%;
    }
}
@media (max-width: 500px) {
    .track {
        width: 25%;
    }
}



/* Audio Control Buttons */

i.control-btn {
    font-size: 50px;
    color: #111;
    cursor: pointer;
    -webkit-transition: .1s ease color;
    transition: .1s ease color;
}
i.control-btn:hover {
    color: #555;
}
i.control-btn:active {
    color: white;
}
@media (max-width: 500px) {
    i.control-btn {
        font-size: 10vw;
    }
}
i.b-prev, i.b-next {
    position: absolute;
    text-align: center;
    top: 50%;
}
i.b-prev {
    left: 50%;
    transform: translate(calc(-200px - 100%), -50%);
}
i.b-next {
    right: 50%;
    transform: translate(calc(200px + 100%), -50%);
}
i.b-play {
    font-size: 10em;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
    i.b-prev {
        left: 0;
        transform: translate(0, -50%);
    }
    i.b-next {
        right: 0;
        transform: translate(0, -50%);
    }
}

i.b-shuffle {
    font-size: 35px;
    color: #444;
    position: absolute;
    right: 4vw;
    top: 4vw;
}
i.b-shuffle:hover {
    color: #aaa;
}
i.b-shuffle:active {
    color: white;
}
@media (max-width: 700px) {
    i.b-shuffle {
        font-size: 25px;
    }
}



/* Audio Control Elements */

#media {
    text-align: center;
}

#current_track {
    background-color: black;
    height: 400px;
    width: 100%;
    text-align: center;
    position: relative;
}
#current_track img {
    border-radius: 40px;
    height: 100%;
    width: auto;
}
#current_track i.b-play {
    color: transparent;
    -webkit-transition: .1s ease color;
    transition: .1s ease color;
}
#current_track i.b-play:hover {
    color: white;
}
#current_track i.b-play.glyphicon-play {
    color: white;
}
@media (max-width: 500px) {
    #current_track {
        height: auto;
    }
    #current_track img {
        width: 80%;
        height: auto;
    }
}

#audioProgress {
    cursor: pointer;
    width: 350px;
    height: 10px;
    background-color: #111;
    color: #555;
    border: none;
    margin: 20px 0 20px 0;
}
#audioProgress::-moz-progress-bar { background-color: #555; }
#audioProgress::-webkit-progress-bar { background-color: #111; }
#audioProgress::-webkit-progress-value { background-color: #555; }


/* Scrolling */

#sentinel {
    height: 50px;
}
#sentinel #title {
    color: white;
}