
body {
    margin: 0;
    background-color: black;
}

.logo {
    text-align: center;
}
.logo img {
    color: white;
    width: 20vw;
}

iframe {
    width: 100%;
    min-height: 1000px;
    border: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.track {
    width: 10%;
    position: relative;
    cursor: pointer;
}
.track:hover {
    border: 2px solid black;
}
.track img {
    width: 100%;
}

@media (max-width: 1000px) {
    iframe {
        min-height: 1000px;
    }
    .track {
        width: 12.5%;
    }
}
@media (max-width: 740px) {
    iframe {
        min-height: 2000px;
    }
}
@media (max-width: 700px) {
    .track {
        width: 20%;
    }
}
@media (max-width: 500px) {
    iframe {
        min-height: 2000px;
    }
    .track {
        width: 25%;
    }
}

i.b-play {
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#current_track {
    background-color: black;
    height: 400px;
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
#current_track img {
    border-radius: 40px;
    height: 100%;
    width: auto;
}
#current_track i.b-play {
    font-size: 7em;

    color: transparent;
    -webkit-transition: .1s ease color;
    transition: .1s ease color;
}
#current_track i.b-play:hover {
    color: white;
}




.pager li a {
    background-color: transparent !important;
    color: white !important;
    border: none;
}
.pager li.disabled a {
    color: #333 !important;
}
